body h2{
font-family: 'Hind', sans-serif;
font-weight: 400;
color: white;
background-color: orange;
}

span.sup{
    vertical-align: super;
    font-size: smaller;
    vertical-align: super; font-size:50%;
}

span.regular{
  font-family: "hind";
  font-weight: 400;
}

.orng{
  font-family: "hind";
  font-weight: 700;

}

.superscript{
  font-size: small;
}
